.ppp-title {
    font-weight: bold;
    font-size: 110%;
}

.ppprotect-category-levels {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    max-height: 200px;
    overflow-y: auto;
}
.ppprotect-category-levels p {
    width: 100%;
    display: inline-block;
    margin-top: 5px;
}

.ppprotect-cat-level-wrap {
    display: block;
    min-width: 50%;
    max-width: 50%;
    float: left;
    margin-bottom: 2px;
}

.ppprotect-cat-level-wrap label {
    display: flex;
}

.ppprotect-levels-redirect {
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 95%;
    max-width: 700px;
    padding: 10px;
    border: 1px solid rgb(221, 221, 221);
    background-color: white;
}

.ppprotect-on-error select {
    width: 100%;
}

.ppprotect-levels-message {
    margin-bottom: 5px;
    font-weight: 600;
}

.ppprotect-wrap div {
    box-sizing: border-box;
}

.form-field.ppprotect-wrap {
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
}

.ppprotect-all-posts > div:first-child {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 4px;
}

#edittag .ppp-title {
    display: inline-block;
    width: 200px;
    float: left;
    margin-right: 20px;
}

.ppprotect-global-message {
    color: #a00;
}

.ppprotect-global-cats {
    margin-bottom: 15px;
    margin-top: 5px;
}

.ppprotect-main-override {
    margin-bottom: 5px;
}

.ppprotect-override-name {
    margin-bottom: 15px;
}

.ppprotect-global-cats a {
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
}

.ppprotect-override-explanation {
    margin-top: 15px;
    font-style: italic;
}

.ppprotect-override-perms {
    margin-top: 15px;
    margin-bottom: 15px;
}

.ppprotect-override-perms > div {
    font-weight: bold;
}

.ppprotect-override-override {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.ppprotect-override-override > select {
    width: 100%;
    background-color: whitesmoke;
    color: black;
}

#_pilotpress_page_box td
{
    padding: 0px 0px 15px;
    font-size: 13px;
}

.pp-access-level {
    display: flex;
    width: 100%;
    margin-bottom: 3px;
    max-width: 100%;
    box-sizing: border-box;
}

.pp-access-level-label {
    display: inline-block;
}

#_pilotpress_page_box div {
    box-sizing: border-box;
}
#_pilotpress_page_box table, 
#_pilotpress_page_box tbody, 
#_pilotpress_page_box tr, 
#_pilotpress_page_box td {
    display: block;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.pp-access-level input {
    margin: 1px 7px 0px 0px;
}

.pp-access-level-note {
    display: inline-block;
    width: 100%;
    font-style: italic;
    margin-top: 5px;
}

.ppprotect-cat-level-wrap label input {
    margin: 1px 7px 0px 0px;
}